<header>
    <div class="container">
        <div class="profile">
            <div class="social">
                <a href="http://twitter.com/tybenz">
                    <div data-picture data-alt="Twitter">
                        <div data-src="/img/twitter16.png"></div>
                        <div data-src="/img/twitter32.png"     data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                        <noscript><img src="/img/twitter16.png" alt="Twitter"></noscript>
                    </div>
                </a>
                <a href="http://github.com/tybenz">
                    <div data-picture data-alt="Github">
                        <div data-src="/img/octocat16.png"></div>
                        <div data-src="/img/octocat32.png"     data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                        <noscript><img src="/img/octocat16.png" alt="Github"></noscript>
                    </div>
                </a>
            </div>
            <div class="avatar" data-picture data-alt="avatar">
                <div data-src="{% include avatar_url %}?s=54"></div>
                <div data-src="{% include avatar_url %}?s=108" data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                <noscript><img src="{% include avatar_url %}?s=54" alt="avatar"></noscript>
            </div>
        </div>
        <h5 class="logo"><a href="{{ site.url }}">Some Title</a></h5>
        <nav class="main">
            <ul>
                <li><a href="{{ site.url }}"{% if page.nav == "" %} class="active"{% endif %}>Home</a></li>
                <li><a href="{{ site.url }}/about"{% if page.nav == "about" %} class="active"{% endif %}>About</a></li>
                <li><a href="{{ site.url }}/projects"{% if page.nav == "projects" %} class="active"{% endif %}>Projects</a></li>
                <li><a href="{{ site.url }}/blog"{% if page.nav == "blog" %} class="active"{% endif %}>Blog</a></li>
            </ul>
        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
        <div class="subnav-slider">
            <div class="subnav-selection {{ page.subnav }}"></div>
        </div>
        <nav class="subnav">
            <ul>
                {% if page.subnav == "home" %}
                    <li><a href="/" class="active">Home</a></li>
                {% else %}
                    <li><a href="/">Home</a></li>
                {% endif %}
                {% if page.subnav == "docs" %}
                    <li><a href="/docs" class="active">Docs</a></li>
                {% else %}
                    <li><a href="/docs">Docs</a></li>
                {% endif %}
                {% if page.subnav == "download" %}
                    <li><a href="https://github.com/tybenz/exemplar/archive/master.zip" class="active">Download</a></li>
                {% else %}
                    <li><a href="https://github.com/tybenz/exemplar/archive/master.zip">Download</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
